body{
    background-color: rgb(14, 14, 14);
}

.skins-a {
    width: 100%;
    display: flex;
    height: 60vh;
    justify-content: space-around;
    margin-top: 2em;
    
}

.tittle-skins-page{
    height: 36px;
    font-size: 24px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
    text-shadow: 2px 2px 23px #FF0000;
    color: white;
}

.skin-1 {
    box-shadow: 2px 2px 23px #FF0000;
    width: 400px;
    height: 280px;
    border: 4px solid red;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
}

.skin-2 {
    box-shadow: 2px 2px 23px #FF0000;
    width: 400px;
    height: 280px;
    border: 4px solid red;
    border-radius: 1px;
    margin-left: 4em;
    margin-right: 4em;
    padding: 0;
    overflow: hidden;
    float:left;
}

.skin-3 {
    box-shadow: 2px 2px 23px #FF0000;
    width: 400px;
    height: 280px;
    border: 4px solid red;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
}

.img-skin{
    height: 200px;
    border-bottom: 4px solid red;
    border-radius: 1px;
}

.name-skin{
    height: 36px;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    border-bottom: 4px solid red;
    border-radius: 1px;
    text-shadow: 2px 2px 23px #FF0000;
    color: white;
}

.condition-skin{
    width: 195px;
    text-align: center;
    font-size: 24px;
    float: left;
    height: 36px;
    border-right: 4px solid red;
    border-radius: 1px;
    text-shadow: 2px 2px 23px #FF0000;
    color: white;
}

.price-skin{
    width: 195px;
    text-align: center;
    font-size: 24px;
    float: left;
    text-shadow: 2px 2px 23px #FF0000;
    color: white;
}

.page-line {
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1em;
}

.line-1{
    background-color: red;
    box-shadow: 2px 2px 23px #FF0000;
    width: 45%;
    height: 5px;
    float: left;
    margin-top: 12px;
}

.line-skin-name {
    margin-left: 4em;
    margin-right: 4em;
    font-size: 30px;
    text-shadow: 2px 2px 23px #FF0000;
    color: white;
}

.line-2{
    background-color: red;
    box-shadow: 2px 2px 23px #FF0000;
    width: 45%;
    height: 5px;
    float: right;
    margin-top: 12px;
}

@media  screen and (max-width: 1322px) {
    .page-line {
        margin-top: 1em;
        
    }

    .skins-a {
        display: flex;
        flex-direction: row;
        height: 60vh;
    }

    .skin-1 {
        margin: auto;
        float: left;
        max-height: 450px;
    }

    .skin-2 {
        margin: auto;
        float: left;
        max-height: 450px;

    }

    .skin-3 {
        margin: auto;
        float: left;
        max-height: 450px;

    }
    
}

@media  screen and (max-width: 1200px) {
    .page-line {
        margin-top: 1em;
    }

    .skins-a {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .skin-1 {
        margin-top: 1em;
    }

    .skin-2 {
        margin-top: 1em;
    }

    .skin-3 {
        margin-top: 1em;
    }
    
}

