* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: black;
}

.cover {
    background-color: rgb(53, 53, 53);
    width: 40vh;
    height: 35vh;
    border: 1px solid red;
    border-radius: 5px;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(216, 216, 216);
    width: 50%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    font-size: 12px;
}



.login-btn {
    width: 40%;
    color: white;
    height: 3em;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: red;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
}

::placeholder {
    color: red;
    font-size: 12px;
}

h1 {
    color: red;
}